<body>
<div  class="login-container">
  <div class="login-box">
    <div class="logo-container" style="margin-bottom: 20px">
      <img src="icon/etablissement.png"  style="width: 80px;height: 80px;margin-left: 75px" alt="Mon Etab Logo">
      <h2>Mon Etab</h2>
    </div>
    <form [formGroup]="formLogin" (ngSubmit)="connexion()">
      <input type="text" formControlName="username" placeholder="Identifiant" required>
      <input type="password" formControlName="password" placeholder="Mot de passe" required>
      <button type="submit" routerLink="/base/home" class="button"  >Connexion</button>
    </form>
  </div>
</div>
</body>
